/* ### LOADING FONTS ### */

/* THIS LOADS IN THE OPENSANS FONT, WHICH IS THE ONE RECOMMENDED BY THE UNIVERSITY, AND GIVES IN THE NICKNAME OPENSANS. DO NOT REMOVE THE OPENSANS FILE FROM THE WWW FOLDER REFERENCED HERE. */
@font-face {
  src: url('OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-family: "OpenSans";
  font-weight: 100 900;
  font-style: normal;
}


/* ### ADJUSTING APP-WIDE ELEMENTS ### */

/* THIS RULE SETS A EVER-SO-SLIGHTLY OFF-WHITE BACKGROUND FOR THE ENTIRE APP (SOFTER THAN WHITE) WITH A MINNESOTA RED FONT COLOR AS DEFAULT (WITH ENOUGH CONTRAST TO MEET ACCESSIBILITY STANDARDS). IT ALSO SETS FONT SIZE TO LARGE AND FONT TO OPENSANS BY DEFAULT, BOTH OF WHICH ALIGN WITH ACCESSIBILITY AND UMN STANDARDS. */
body {
  background-color: #FAFAFA;
  color: #7a0019;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: large;
}

/* THIS SET OF RULES APPLIES TO LINKS IN THEIR UNCLICKED, HOVERED, AND CLICKED STATES, RESPECTIVELY. THE FONT COLORS HERE ARE UMN-INSPIRED BUT HAVE SUFFICIENT CONTRAST FOR ACCESSIBILITY. */
a {
  color: #704D00;
  text-decoration: underline;
}

a:hover {
  color: #664600;
}

a:visited {
  color: #704D00;
}

/* TO MEET ACCESSIBILITY REQUIREMENTS, ALL APPS SHOULD HAVE AN H1. I USUALLY MAKE THIS A LOGO IMAGE AND LABEL IT AS AN H1 VIA ARIA-LABELING, BUT OTHERWISE, WE'D ADJUST ITS APPEARANCE THIS WAY. */
h1 {
  font-weight: bold;
  font-size: 190%;
  text-align: center;
  color: #C28100;
}

/* TO MEET ACCESSIBILITY REQUIREMENTS, WE MUST USE H2 ELEMENTS, SO THIS RULE ADJUSTS THEIR APPEARANCE. */
h2 {
  font-weight: bold;
  font-size: 175%;
  text-align: center;
  color: #C28100;
}

/* FOR DIGITAL ACCESSIBILITY, WE NEED TO USE HEADER/OUTLINE STRUCTURE, SO THE APP SHOULD HAVE H3S. THIS RULE ADJUSTS WHAT THOSE LOOK LIKE. */
h3 {
  display: inline;
  font-weight: bold;
  color: #7a0019;
  font-style: italic;
  padding-right: 2%;
}

div#whole_page {
  min-width: 95%;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}


/* THE "PRIMARY" PART OF THE APP SCREEN (OR OF A TAB) SHOULD BE WRAPPED IN A SEMANTIC "MAIN" ELEMENT TAG. THIS ADJUSTS SUCH AN ELEMENT'S APPEARANCE. */
main {
  min-width: 100%;
  max-width: 100%;
}


/* MY APPS DON'T TEND TO USE IMAGES, BUT THIS RULE WOULD EDIT THEM ALL, WHICH CAN BE USEFUL FOR FORCING THEM TO ADHERE TO A CERTAIN SIZE. */
img {
  object-fit: contain;
  max-height: 350px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* ### ADJUSTING COMMON SEMANTIC ELEMENTS/TAGS ### */

/* FOR DIGITAL ACCESSIBILITY, WE NEED TO USE SEMANTIC TAGS FOR ALL COMMON WEBSITE ELEMENTS. THE HEADER IS A PERSISTENT ELEMENT AT THE TOP OF THE PAGE. THIS SETS A MINIMUM WIDTH FOR IT AND CENTERS IT BY DEFAULT. */
header {
  margin-left: 0px !important;
  margin-right: 0px !important;
  min-width: 100%;
  max-width: 100%;
}

/* SIMILAR TO A HEADER, THERE IS GENERALLY A FOOTER ELEMENT AT THE BOTTOM OF THE SCREEN. THIS RULE WILL ADJUST ITS APPEARANCE. */
footer {
  min-width: 100%;
  max-width: 100%;
  font-size: 80%; 
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}

/* IF USING THE STOCK FOOTER TEMPLATE, THIS ADJUSTS THE MARGINS ON THE FOOTER LOGO */
#footerLogo {
margin-top: 10px;
margin-bottom: 10px;
}

/* A COMMONLY REQUIRED SEMANTIC TAG IS FIELDSET FOR GROUPS OF INPUTS. THIS CAN BE USED TO ADJUST ALL SUCH FIELDSETS. */
fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
}

/* FOR ACCESSIBILITY, WHENEVER AN APP INCLUDES A FORM THAT GATHERS USER-SPECIFIC DATA (AND MAYBE SUBMITS IT), IT SHOULD HAVE A FORM TAG AROUND IT. THIS RULE WOULD ADJUST ALL SUCH FORMS. */
form {
  min-width: 95%;
  max-width: 95%;
}

/* TO MEET ACCESSIBILITY REQUIREMENTS, CONTACT INFO IS SUPPOSED TO BE HOUSED IN AN ADDRESS SEMANTIC TAG. THIS RULE WOULD ADJUST THE APPEARANCE OF ALL SUCH TAGS. */
address {
  display: inline;
}

/* WHEN USING A FIELDSET SEMANTIC TAG, ALL SUCH FIELDSETS SHOULD BE ACCOMPANYIED BY A LEGEND TAG. THIS WOULD ADJUST ALL SUCH LEGENDS. */
legend {
  max-width: 80%; 
  min-width: 310px;
  margin: 5px auto; 
  font-style: italic; 
  color: black; 
  min-width: 310px;
  font-size: medium;
  display: flex;
  justify-content: center;
}

/* ### ADJUSTING SHINY-RELATED INPUT WIDGETS ### */

/* IF YOU USE SHINY'S TYPICAL INPUTS, THIS RULE AFFECTS THEIR DEFAULT STYLING. HERE, I HAVE THE FONT CHANGING TO BLACK, ALIGNING LEFT, GETTING A LITTLE SMALLER, AND APPLYING SOME LEFT AND RIGHT BUFFER TO KEEP THE FONT FROM CLIPPING THE EDGES. */
.shiny-input-container, .shiny-bound-input {
  color: black !important;
  text-align: left;
  font-size: 95%;
  margin-left: 5px;
  margin-right: 5px;
  width: 95% !important;
  min-width: 50%;
}

/* THIS RULE APPLIES TO ANY SELECTINPUTS THAT GET DROPDOWN MENUS. THIS SETS THEIR FONT AND BACKGROUND COLORS TO BE MORE READABLE. */
div.dropdown-menu {
  color: black; 
  background-color: #FAFAFA;
}

/* BY DEFAULT, LONG MENU ITEMS IN A SELECTINPUT WILL NOT LINE-BREAK. THIS RULE WOULD ALLOW YOU TO ADJUST THIS BEHAVIOR. */
select.form-control>option {
  white-space: break-spaces;
}

/* IF YOU HAVE ANY SELECTINPUTS OR SELECTIZEINPUTS THAT ARE NEAR THE BOTTOMS OF CONTAINERS, THIS WILL FORCE THEM TO TAKE UP SOME AMOUNT OF SPACE NO MATTER WHAT SO THAT YOU WON'T HAVE TO SCROLL DOWN TO SEE THEIR CONTENTS WHEN THEY OPEN. */
.selectize-dropdown {
        min-height: 100px;
        overflow-y: auto;
}

/* BUTTONS ARE EXTREMELY COMMON APP ELEMENTS. THIS RULE SETS THEIR BORDER TO BLACK, THEIR COLOR TO RED (OVERRIDING THE DEFAULT), THEIR FONT SIZE TO 100% (ALSO OVERRIDING A DEFAULT) AND THEIR FONT WEIGHT TO BOLD FOR EMPHASIS. */
button.btn-default {
  background-color: #FAFAFA; 
  color: #7a0019; 
  min-width: 280px;
  max-width: 100%;
  width: fit-content;
  white-space: normal;
  border-color: black; 
  border-width: 2px; 
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 100%;
}

/* IF YOU USE SHINYJS TO DISABLE BUTTONS, THIS RULE APPLIES TO WHAT THOSE BUTTONS WILL LOOK LIKE DISABLED. THIS WILL TURN THEIR FONT COLOR TO GRAY, WHICH IS A TYPICAL SIGNAL THAT THE BUTTON IS DISABLED. */
button.btn.disabled {
  color: #404040;
}

/* HERE'S WHERE YOU'D CODE WHAT WOULD CHANGE ABOUT A BUTTON IF IT WERE HOVERED OVER. */
button:hover {
  background-color: #900021;
  color: white }
  
  /* IF YOU USE THE DEFAULT DATE INPUT, THIS FORCES THE RESULTING WINDOW TO DEFINITELY HOVER ABOVE ALL OTHER ON-SCREEN CONTENT. */
div.datepicker {
  z-index: 1000 !important;
}

/* IF YOU USE ANY CHECKBOX-STYLE INPUTS, THIS RULE WILL ADJUST THE APPEARANCE OF THE ACTUAL CHECKBOX ITSELF. */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}


/* ### CONVENIENCE CLASSES FOR QUICK, COMMON AESTHETIC CHANGES ### */

/* THE FOLLOWING SEVERAL CLASSES CAN BE USED TO ACHIEVE SOME COMMON APPEARANCE ADJUSTMENTS */
.flexthis {
  display: flex;
}

.flexcol {
  flex-direction: column;
}

.width100 {
  width: 100%;
}

.justifycenter {
  justify-content: center;
}

.flexwrap {
  flex-wrap: wrap;
}

.autoleftrightmarg {
  margin-left: auto;
  margin-right: auto;
}

.flexend {
  align-items: flex-end;
}

.centertext {
  text-align: center;
}

.boldthis {
  font-weight: bold;
}

.italicize {
  font-style: italic;
}



/* ### MEDIA QUERIES ### */



/* ### AD HOC ELEMENT ADJUSTMENTS ### */

div.submitted_photos_rows {
  border-bottom: 4px solid #333;
}

img#logo {
  max-height: 100px;
}

div#submitted_photos_div {
  display: flex;
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.bootstrap-select>.dropdown-toggle {
  min-width: 280px;
  max-width: 100%;
}